<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.duan_oder_doan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DuAn_Oder_DoAn"
        tools:targetApi="31">
        <activity
            android:name=".ThongBao"
            android:exported="false"
            android:parentActivityName=".TrangChuUser"/>
        <activity
            android:name=".HoaDonUser"
            android:exported="false" />
        <activity
            android:name=".TrangChuChef"
            android:exported="false" />
        <activity
            android:name=".FoodList"
            android:exported="false"
            android:parentActivityName=".TrangChuUser" />
        <activity
            android:name=".AdminManageActivity"
            android:exported="false" />
        <activity
            android:name=".StatisticalManageActivity"
            android:exported="false"
            android:parentActivityName=".TrangChuManage"/>
        <activity
            android:name=".AddFoodManageActivity"
            android:exported="false"
            android:parentActivityName=".TrangChuManage" />
        <activity
            android:name=".OdersManageActivity"
            android:exported="false"
            android:parentActivityName=".TrangChuManage" />
        <activity
            android:name=".XacNhanPass_Email"
            android:exported="false"
            android:parentActivityName=".DangNhap" />
        <activity
            android:name=".TimKiemFoodUser"
            android:exported="false"
            android:parentActivityName=".TrangChuUser" />
        <activity
            android:name=".EmailUser"
            android:exported="false"
            android:parentActivityName=".GioiThieuUser" />
        <activity
            android:name=".PhoneUser"
            android:exported="false"
            android:parentActivityName=".GioiThieuUser" />
        <activity
            android:name=".NameUser"
            android:exported="false"
            android:parentActivityName=".GioiThieuUser" />
        <activity
            android:name=".AvatarUser"
            android:exported="false"
            android:parentActivityName=".GioiThieuUser" />
        <activity
            android:name=".DoiMatKhauUser"
            android:exported="false"
            android:parentActivityName=".ThongTinUser" />
        <activity
            android:name=".ThongKeUser"
            android:exported="false"
            android:parentActivityName=".ThongTinUser" />
        <activity
            android:name=".GioiThieuUser"
            android:exported="false"
            android:parentActivityName=".ThongTinUser" />
        <activity
            android:name=".ThongTinUser"
            android:exported="false" />
        <activity
            android:name=".GioHangUser"
            android:exported="false" />
        <activity
            android:name=".YeuThichUser"
            android:exported="false" />
        <activity
            android:name=".TrangChuManage"
            android:exported="false" />
        <activity
            android:name=".TrangChuUser"
            android:exported="false" />
        <activity
            android:name=".DangNhap"
            android:exported="false" />
        <activity
            android:name=".DangKy"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>